<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1013481572810-s5etu6dn8524l5kidmdtrim0pnn59dj7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1013481572810-s5etu6dn8524l5kidmdtrim0pnn59dj7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1013481572810-r5ln9n1vrjj3qdp8dmtp4pghfligbka5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDtePULhB5xH4xz89nba3-sSEcDBYw0oCY</string>
	<key>GCM_SENDER_ID</key>
	<string>1013481572810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sweetChores</string>
	<key>PROJECT_ID</key>
	<string>sweet-chores-ab84c</string>
	<key>STORAGE_BUCKET</key>
	<string>sweet-chores-ab84c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1013481572810:ios:6bad15d74de80415c3a733</string>
</dict>
</plist>